.slideshow-container {
  width: 100%;
  height: 70vh;
  position: relative;
  top: 0;
}

.img-container {
  z-index: -1;
}

img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  aspect-ratio: 16/9;
}

.prev {
  position: absolute;
  top: 50%;
  left: 5%;
  color: lightgrey;
  z-index: 1;
}

.next {
  position: absolute;
  top: 50%;
  right: 5%;
  color: lightgrey;
}

.slider-nav {
  position: absolute;
  top: 100%;
  right: 50%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  color: lightgrey;
  cursor: pointer;
}
